.blue-text {
    color: blue;
}

.video-container {
    width: 60%;
    margin: 0 auto;
    padding: 0 15px;
}

.no-controls {
    width: 48%; /* 根据需要调整宽度 */
}

.video-text {
    position: absolute;
    top: 10px; /* 根据需要调整位置 */
    left: 50%;
    transform: translateX(-50%);
    color: red; /* 根据需要调整颜色 */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 10px; /* 根据需要调整字体大小 */
}

.has-text-centered-example {
    text-align: center;
    padding: 0px 30px;
}