.blue-text {
    color: blue;
}

.video-container {
    width: 60%;
    padding: 0 0;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto; /* 居中显示 */
}

.no-controls {
    width: 100%; /* 根据需要调整宽度 */
}

.video-item {
    position: relative;
    width: 100%; /* 每个视频占据的宽度 */
    display: flex;
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    height: 100%; /* 视频项高度占满父容器 */
    padding: 80px 0 60px 0;
}

.video-text {
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.video-text-four {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 四列，每列占1/4 */
    width: 100%; /* 容器宽度 */
    margin: 0 auto; /* 居中显示 */
    top: 50px;
}

.video-text-four-item {
    text-align: center; /* 文字居中对齐 */
    font-size: 18px; /* 字体大小 */
    font-weight: bold; /* 字体加粗 */
}

.has-text-centered-example {
    text-align: center;
    padding: 0px 30px;
}

.left-div {
    float: left;
    width: 50%;
}

.right-div {
    float: left;
    width: 50%;
}